.listing_item {
  .img {
    box-shadow: 0px 0px 35px 0px rgba(0, 0, 0, 0.35);
    @include get_transition(
      (
        box-shadow: 0.3s,
      )
    );
  }
  span {
    min-height: 60px;
    @include get_transition(
      (
        padding-left: 0.3s,
      )
    );
    &::before {
      top: 12px;
      left: 0;
      background-color: get-color(primary);
      height: 7px;
      width: 47px;
    }
  }
  &:hover {
    .img {
      box-shadow: 0px 0px 45px 0px rgba(0, 0, 0, 0.4);
    }
    span {
      padding-left: 80px;
    }
  }
}
